language: android
jdk: oraclejdk8
notifications:
  email:
    - external-ci-notifications+braintree-android-drop-in@getbraintree.com
sudo: true
android:
  components:
    - tools
    - tools
    - platform-tools
    - build-tools-29.0.3
    - android-28
    - extra-google-m2repository
before_install:
  - yes | sdkmanager "platforms;android-28"
script: ./gradlew --stacktrace clean lint testRelease
after_success: ./script/deploy_snapshot.sh
