<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.braintreepayments.api.dropin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:supportsRtl="true"
        tools:ignore="UnusedAttribute">

        <activity android:name="com.braintreepayments.api.dropin.DropInActivity"
            android:theme="@style/bt_drop_in_activity_theme"/>
        <activity android:name="com.braintreepayments.api.dropin.AddCardActivity"
            android:theme="@style/bt_add_card_activity_theme" />
        <activity android:name="com.braintreepayments.api.dropin.VaultManagerActivity"
            android:theme="@style/bt_vault_manager_activity_theme" />
        
        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>

